<form method="post" action="{{ path('anime_delete', {'id': anime.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ anime.id) }}">
    <button class="btn">Delete</button>
</form>
