{% extends 'base.html.twig' %}

{% block title %}Edit Anime{% endblock %}

{% block body %}
    <h1>Edit Anime</h1>

    {{ include('anime/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('anime_index') }}">back to list</a>

    {{ include('anime/_delete_form.html.twig') }}
{% endblock %}
