{% extends 'base.html.twig' %}

{% block title %}Anime index{% endblock %}

{% block body %}
    <h1>Anime index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Summary</th>
                <th>LastEpisodeSeen</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for anime in animes %}
            <tr>
                <td>{{ anime.id }}</td>
                <td>{{ anime.title }}</td>
                <td>{{ anime.summary }}</td>
                <td>{{ anime.lastEpisodeSeen }}</td>
                <td>{{ anime.image }}</td>
                <td>
                    <a href="{{ path('anime_show', {'id': anime.id}) }}">show</a>
                    <a href="{{ path('anime_edit', {'id': anime.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('anime_new') }}">Create new</a>
{% endblock %}
