{% extends 'base.html.twig' %}

{% block title %}Anime{% endblock %}

{% block body %}
    <h1>Anime</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ anime.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ anime.title }}</td>
            </tr>
            <tr>
                <th>Summary</th>
                <td>{{ anime.summary }}</td>
            </tr>
            <tr>
                <th>LastEpisodeSeen</th>
                <td>{{ anime.lastEpisodeSeen }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ anime.image }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('anime_index') }}">back to list</a>

    <a href="{{ path('anime_edit', {'id': anime.id}) }}">edit</a>

    {{ include('anime/_delete_form.html.twig') }}
{% endblock %}
